body{
    margin: 0;
    padding: 0;
    font-family: "Inter", sans-serif;
     text-align: center;
      color: #1e72a0;
}

header{
    background-image: url(assets/images/banner.png), linear-gradient(to top,black,#091b23, black);
    width: 100%;
   

    

}

header .banner-content{
    margin: auto;
    width: 50%;
    padding: 2.5%;
}
header p{
    color: aliceblue;
}
button{
    color: #1e72a0;
    border:solid currentColor;
    background-color: #091b2300;
    width: 40%;
    height: 2.5rem;

}

button:hover{
    background-color: rgb(58, 56, 56);
}

main #course-content{
    border-top:1px solid #1e72a0;
   
    background-color: black;
    padding: 10%;
    
}

main h2{
 letter-spacing: 3px;
}
main p{
    color: aliceblue;
    margin: 0;
}

.module{
    margin-top: 2%;
    border: 1px solid #1e72a0;
    border-radius: 25px;
    background-color: #252525;
    padding: 2%;
    color: aliceblue;
}

span{
    color: #1e72a0;
}
main #transform-world{
   width: 100%;
   height: 30rem;
    background-image: url(assets/images/woman-code.png);
   background-size: cover;
   background-color: black;
   background-attachment: fixed;
   margin: auto;
   display: flex;
   align-items: center;
     border-top:1px solid #1e72a0;
   
 
   
}
 #transform-world p{
    
    font-size:xx-large;
    text-align:start ;
    margin-left: 10%;
    font-weight: bold;
    filter: drop-shadow(4px 4px #1e72a0);
    width: 15%;
    
 }

 #professional-challenges{
      border-top:1px solid #1e72a0;
    align-items: center;
      background-color:black;
      padding: 2%;
 }
 #professional-challenges p{
    padding: 2%;
    margin: auto;
    width: 40%;
 }
footer{
   border-top:1px solid #1e72a0;
    background-color: #091b23;
    background-image: linear-gradient(black, #091b23);
    padding: 2%;
}

footer p{
    color: aliceblue;
    margin: 0;
     
} 

footer a{

    text-decoration: none;
    color: #1e72a0;
}


h2{
    
text-transform: uppercase;
    margin: 0;
}

@media screen and (max-width: 1345px) {
  main #transform-world {
   height: 25rem;
    background-position: center;
    
  }
  
}
